table,td,th{
border: 1px black solid;
}

table{
width: 100%;
border-collapse: collapse;
}
th{
height: 30px;
text-align: center;
}
th,td{
padding: 10px;
}
button{

color: #B4886B;
padding: 1px 50px;
margin: 10px 4px;
text-align: center;
border-radius: 5px;
font-size: 16px;
display: inline-block;

}
 select {
  border: 1px black solid;
  background: transparent;
    padding: 3px;
  box-shadow: 2px 2px 4px grey;
  font-size: 14px;
  font-weight: 600;
  width: 300px;
}
label {
  color: #B4886B;
  font-weight: bold;
  width: 130px;
  float: left;

}
.dropdown{
display: flex;
}

